/**Menu */
#navbar{
  background-color: #31be6e;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbar ul{
  display: flex;
  margin-right: 60px;
}
#navbar ul > li{
  display: flex;
  font-size: 20px;
  color: aliceblue;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  height: 50px;
  transition: 0.3s 0s ease-in-out;
}

#navbar ul > li:hover{
  
  background-color: #000000;
  color: #31be6e;
  
}

#navbar ul > li:active {
  
  background-color: #000000;
  transition: none;
  color: #ffffff;
}


/**Section 1 */

#welcome-section{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    62deg,
    #343434 0%,
    #000000 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  text-align: center;
}

#welcome-section h1{
  width: 15ch;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  animation: cursor 0.75s step-end infinite, printed_text 2s steps(15);
}


#welcome-section h4{
  width: 89ch;
  color: #31be6e;
  font-size: 2vw;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  animation: cursor 0.75s step-end infinite, printed_text 2s steps(54);
}




/**Section 2 */

#projects{
  height: 950px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #31be6e 30%,
    #76c498 100%
  );
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  text-align: center;
  align-items: center;
}

#projects header{
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
}

hr{
  width: 600px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-top: 8px;
}

#projects a > p{
  font-size: 20px;
  background-color: black;
  color: #31be6e;
  padding: 10px 38px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  transition: 0.3s 0s ease-out;
}

#projects i{
  font-size: 13px;
  padding-top: 5px;
  padding-left: 10px;
}

#projects a > p:hover{
  
  background-color: #fff;
  color: black;
}

#projects a > p:active{
  background-color: #000000;
  color: white;
  transition: none;
}

.projects{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-evenly;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 70px;
    padding: 0 20px;
    margin-top: 50px;
  }

.projects a{
  font-size: 18px;
}

.project-tile{
  background-color: #343434;
  border: 10px solid #343434;
  border-radius: 10px;
}

.project-tile:hover{
  background-color: #434343;
  border: 10px solid #434343;
  transition: 0.3 0s ease-in-out;
}

.project-tile:active{
  background-color: #ffffff;
  border: 10px solid #ffffff;
  transition: 0.3 0s ease-in-out;
}

.project-tile img{
  object-fit:cover; width: 100%; height: 500px;
}

.caption{
  margin-bottom: 10px;
  color: #fff
}


/**Section 3 */

#social{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    62deg,
    #343434 0%,
    #000000 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 100vh;
}

#social h1{
  font-size: 110px;
  color: #ffffff;
  animation: endtext 4s infinite;
  max-height: 250px;
  max-height: 10vh;
}

.social{
  font-size: 59px;
    color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 190px;
    max-height: 50px;
    

}

.github:hover, .email:hover, .number:hover, .freecodecamp:hover, .hexlet:hover{
  font-size: 90px;
  color: #31be6e;

}

.github:active, .email:active, .number:active, .freecodecamp:active, .hexlet:active{
  font-size: 120px;
  color: #ffffff;
  transition: 0.1s

}

.github, .email, .number, .freecodecamp, .hexlet{
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}


/**Footer */

footer{
  background-color: #31be6e;
  padding: 20px 40px;
}

footer p{
  margin:0;
}
/**General */
*{
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior:smooth;
}

a{
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
ul > li{
  list-style: none;
}

main{
  padding-top: 50px;
}

body{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4{
  padding: 0;
  margin: 0;
}

/**keyframes */
@keyframes cursor {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

@keyframes endtext {
  0% {
    font-size: 7vw;
  }
  50% {
    font-size: 7.5vw;
  }
  100% {
    font-size: 7vw;
  }
}


/**Media*/
@media (max-width: 950px){

  /**section 2*/
  .projects{
    display: grid;
      grid-template-columns: 1fr;
}
  #projects{
    height: 2150px;
  }
  #projects a > p{
    font-size: 40px;
  }

  #projects i{
    font-size: 30px;
    padding-top: 5px;
    padding-left: 10px;
}
  #projects header{
    font-size: 6vw;
  }
}

@media (max-width: 500px){

#welcome-section{
  height: 50vh;
}
#social{
  height: 50vh;
}
#navbar ul > li{
  font-size: 15px;
  padding: 10px;

}
#projects header{
  font-size: 6vw;
}
.project-tile img {
  height: 200px;
}
#projects{
  height: 1300px;
}
.social{
  margin-top: 30px;
  flex-wrap: wrap;
  gap:50px
}

}


@media (max-width: 370px){
  #navbar ul > li{
    font-size: 13px;
    padding: 7px;}
    #projects header{
      font-size: 6vw;
    }
    .social{
      font-size: 40px;
    }
}
