html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-right: 0;
  color: rgb(88, 88, 88);
  line-height:1.5em;
  background-color: #e9e9e9;
  scroll-behavior:smooth;
}

.mainpage{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31be6e ;
  position: fixed;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #eeeeee;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  z-index: 9999;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainpage:hover{
  background-color: #000000 ;
  transition: 0.3s 0s ease-in-out;
}

.mainpage:active{
  background-color: #ffffff ;
}


main{
  padding: 20px 20px 20px 300px;
  position:static;
}

@media(min-width:850px){
.menu {
  position:fixed;
      top:0;
      left:0;
    display: block;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 260px;
    border-right: 2px solid #2c2c2c;
}

.menu .h1{
  font-size: 20px;
  text-align: center;
  height:30px;
  margin: 0;
  height: 50px;
  padding-top: 20px;
  border-right: 0;
}

.menu li{
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight: normal;
  font-style: normal;
  border-top: 1px solid #2c2c2c;
  height: 100%;
  text-align: left;
  vertical-align:middle;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 40px;
}

.menu ul{
  padding-left: 0;
  margin: 0;
}

.menu a{
  text-decoration:none;
}
}




@media(max-width:849px){
  .menu{
      position:relative;
      top:0;
      left:0;
      display: block;
      flex-direction: column;
      padding: 0;
      height: 100%;
      width: 100%;
      border-right: 0;

  }
  
  .menu .h1{
    font-size: 20px;
    text-align: center;
    height:30px;
    margin: 0;
    height: 50px;
    padding-top: 20px;
    border-right: 0;
  }
  
  .menu li{
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-weight: normal;
    font-style: normal;
    border-top: 1px solid #2c2c2c;
    text-align: left;
    vertical-align:middle;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 40px;
    width: 100%;
    text-align: center;

  }
  
  .menu ul{
    padding-left: 0;
    margin: 0;
    overflow-y: scroll;
    height: 300px;
    border: 1px solid #2c2c2c;
  }
  
  .menu a{
    text-decoration:none;
  }
main{
  padding: 20px 20px 20px 20px;
}
}


main section{
  padding-top: 40px;
}

main section:first-of-type{
  padding-top: 0
}

p{
  padding-left: 30px;
}

code{
  display: block;
  background-color: #d6d6d6;
  padding: 20px;
  color: black;
  margin-left:40px;
}
main ul{
  margin-left: 30px;
}
ul > li > ul > li{
  margin-left: -30px;
}

main ul > li{
  margin-bottom: 20px;
}

